<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a></li>
            <li class="main-header__item"><a class="<%= path === '/shops/products' ? 'active' : '' %>" href="/shops/products">Products</a></li>
            <li class="main-header__item"><a class="<%= path === '/shops/carts' ? 'active' : '' %>" href="/shops/carts">Cart</a></li>
            <li class="main-header__item"><a class="<%= path === '/shops/orders' ? 'active' : '' %>" href="/shops/orders">Order</a></li>
            <li class="main-header__item"><a class="<%= path === '/admins/products/create' ? 'active' : '' %>" href="/admins/products/create">Add Product</a></li>
            <li class="main-header__item"><a class="<%= path === '/admins/products' ? 'active' : '' %>" href="/admins/products">Admin Product</a></li>
        </ul>
    </nav>
</header> 